In [ ]:
import pandas as pd
import numpy as np
import os
from datetime import datetime,date,timedelta

In [37]:
## make sure we have compute and Datastore created before the notebook run
from azureml.core import Workspace,Dataset,Datastore
print("Date of pipeline code run is : ", date.today())

from azureml.core import Run
run = Run.get_context()

print("Setting up the AML workspace")  
ws = Workspace(subscription_id = "subsid",resource_group = 'resoursegroupname',workspace_name = 'ws_name')
print(ws.name,ws.resource_group,ws.location,ws.subscription_id,sep = '\n')

blob_datastore_name = 'datastore_demo'  # name of the datastore to workspace
Container_name= os.getenv('BLOB_CONTAINER' , 'blobcontainertest') # name of the blob container
account_name= os.getenv("BLOB_ACCOUNTNAME" , 'blobstorageaj') #storage account name from storage account access keys
account_key=os.getenv("BLOB_ACCOUNT_KEY" , 'account_key') # ACCOUNT KEY

Date of pipeline code run is :  2023-04-19
Setting up the AML workspace
AzureMLDemo
testgroup
westus2
9a1da3f3-3952-4b8d-b59b-a52143953429

In [38]:
## reading the file from datastore that we created after compute in workspace
datastore = Datastore.get(ws,'datastore_demo')

In [40]:

training_data = Dataset.Tabular.from_delimited_files(path = [(datastore,"train.csv")]).to_pandas_dataframe()

In [41]:
training_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q